{% assign block = section.blocks | where: 'type', 'recover' | first %}

{%- form 'recover_customer_password',
  novalidate: 'novalidate',
  class: 'account__forms--container',
  id: 'recover'
-%}
  <input type="hidden" name="return_to" value="/account/login#recover">

  {% assign recover_success = form.posted_successfully? %}

  {% if recover_success %}
    <p class="text-center">{{ block.settings.reset_seccess_message }}</p>
  {% else %}
    <div class="mb-6" {{ block.shopify_attributes }}>
      <h1>{{ block.settings.title }}</h1>

      <div class="rte max-w-md">
        {{ block.settings.content }}
      </div>
    </div>

    <div class="form__input">
      <input
        id="recover-email"
        class="form__input--text"
        type="email"
        name="email"
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        placeholder=" "
      >
      <div class="form__input--text--hover"></div>
      <label
        class="form__input--label"
        for="recover-email"
      >
        {{ 'account.fields.email' | t }}
      </label>
    </div>

    <div class="flex flex-col gap-3 lg:flex-row">
      <button type="submit" class="button button--primary w-full">
        <span>{{ 'account.form.reset_password_submit_label' | t }}</span>
      </button>
      <a
        class="button button--secondary w-full text-center"
        href="#login"
      >
        <span>{{ 'account.form.cancel_button_label' | t }}</span>
      </a>
    </div>

    {%- if form.errors -%}
      <div>
        {{ block.settings.reset_fail_message }}
      </div>
    {%- endif -%}
  {% endif %}
{%- endform -%}

{%- if recover_success == true -%}
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      document.dispatchEvent(new Event(customer:recover:success));
    })
  </script>
{%- endif -%}
