<section
  id="{{ 'account.navigation.change_password_title' | t | strip | downcase | handleize }}"
  class="scroll-m-[calc(var(--navigation-height)+1rem)]"
>
  <header class="flex items-center gap-4">
    <h2 class="font-bold">{{ 'account.navigation.change_password_title' | t }}</h2>
    <span class="block h-6 w-6 text-neutral-400">{% render 'icons', icon: 'lock' %}</span>
  </header>

  {% form 'recover_customer_password', class: 'mt-6' %}
    {{ form.errors | default_errors }}

    <input hidden type="email" name="email" value="{{ customer.email }}">

    <button
      type="submit"
      class="button button--primary"
    >
      <span>
        {{ 'account.form.reset_password_submit_label' | t }}
      </span>
    </button>
  {% endform %}
</section>
