<div class="section pb-0 bg-primary-bg color-scheme__{{ section.settings.color_scheme }} ">
  {% if settings.enable_breadcrumbs %}
    <div class="mb-4">
      {% render 'breadcrumbs' %}
    </div>
  {% endif %}

  <div class="text-primary-text">
    <h1 class="h2 font-bold">{{ collection.title | escape }}</h1>

    {% if section.settings.sub_categories != blank %}
      {% assign linkList = section.settings.sub_categories %}

      {% capture subCategories %}
        {% for link in linkList.links %}
          {% if link.child_current %}
            {% if link.collection.url != routes.all_products_collection_url %}
              {% render 'subcategory-item', link: link %}
            {% endif %}
            {% for linkChild in link.links %}
              {% if linkChild.current == false %}
              {% render 'subcategory-item', link: linkChild %}
            {% endif %}
            {% endfor %}
          {% elsif link.current %}
            {% for linkChild in link.links %}
              {% if linkChild.current == false %}
                {% render 'subcategory-item', link: linkChild %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endcapture %}

      {% if subCategories != blank %}
        <div class="mb-4">
          <h2 class="m-0 mb-3 text-sm text-accent-1">
            {{ 'collection.sub_categories.heading' | t: collection: collection.title }}
          </h2>
          <div class="flex w-full overflow-hidden">
            <ul class="scrollbar-hide mb-4 flex flex-nowrap gap-3 overflow-auto lg:flex-wrap">
              {{ subCategories }}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if collection.description != blank %}
      <div class="p max-w-xl">{{ collection.description }}</div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Collection header",
  "settings": [
    {
      "type": "link_list",
      "id": "sub_categories",
      "label": "Sub categories"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "Color Scheme"
    }
  ]
}
{% endschema %}
