<div class="section bg-primary-bg color-scheme__{{ section.settings.color_scheme }} ">
  <div style="--grid-template: {{ section.blocks.size }};">
    <div
      class="swiper carousel--text-with-icons overflow-hidden rounded bg-secondary-bg !py-6 !px-6 lg:!py-12"
      {% if section.settings.collapse %}
        data-component="text-with-icons"
      {% endif %}
    >
      <div
        class="swiper-wrapper {% if section.settings.collapse %}flex flex-nowrap lg:!grid !box-border{% else %}!grid gap-6{% endif %} text-primary-text lg:grid-cols-[repeat(var(--grid-template),1fr)] lg:gap-6"
      >
        {% for block in section.blocks %}
          {% assign this = block.settings %}
          <div class="swiper-slide !flex flex-col items-center border-accent-1-bg text-center {% if section.settings.collapse %}flex-[100%_0_0]{% endif %}">
            {% if this.custom_icon != blank %}
              {% assign sizes = this.icon_size | append: 'px' %}
              {% capture widths %}{{ this.icon_size }}{% endcapture %}
              {% capture styles %}height:{{ this.icon_size }}px; margin-bottom:{{ this.icon_size | divided_by: 3 }}px;{% endcapture %}
              {{-
                this.custom_icon
                | image_url: width: this.icon_size
                | image_tag: sizes: sizes, widths: widths, class: 'object-contain', style: styles
              -}}
            {% else %}
              {% unless this.icon == 'none' %}
                <span
                  class="block"
                  style="width:{{ this.icon_size }}px; height: {{ this.icon_size }}px; margin-bottom:{{ this.icon_size | divided_by: 3 }}px;"
                >
                  {% render 'customizer-icons', icon: this.icon %}
                </span>
              {% endunless %}
            {% endif %}
            <h3 class="h5 mb-2 mt-0">{{ this.title }}</h3>
            <div>{{ this.content }}</div>
          </div>
        {% endfor %}
      </div>

      {% if section.settings.collapse %}
        <div class="swiper-pagination">
          {% for block in section.blocks %}
            <button
              type="button"
              class="swiper-pagination-bullet {% if forloop.first %}swiper-pagination-bullet-active{% endif %}"
              aria-label="{{ 'accessibility.slideshow.load_slide_label' | t }} {{ forloop.index }} {{ 'accessibility.slideshow.slide_of_label' | t }} {{ forloop.length }}"
            ></button>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Text with icons",
  "settings": [
    {
      "type": "checkbox",
      "id": "collapse",
      "label": "Collapse on mobile",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "Color Scheme"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "item",
      "name": "Text with icon",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "group": "Ecommerce",
              "value": "star",
              "label": "Star"
            },
            {
              "group": "Ecommerce",
              "value": "heart",
              "label": "Heart"
            },
            {
              "group": "Ecommerce",
              "value": "gift",
              "label": "Gift"
            },
            {
              "group": "Ecommerce",
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "group": "Ecommerce",
              "value": "cart",
              "label": "Cart"
            },
            {
              "group": "Ecommerce",
              "value": "bag",
              "label": "Bag"
            },
            {
              "group": "Ecommerce",
              "value": "basket",
              "label": "Basket"
            },
            {
              "group": "Communication",
              "value": "mail",
              "label": "Mail"
            },
            {
              "group": "Communication",
              "value": "phone",
              "label": "Phone"
            },
            {
              "group": "Communication",
              "value": "send",
              "label": "Send"
            },
            {
              "group": "Communication",
              "value": "party",
              "label": "Party"
            },
            {
              "group": "Communication",
              "value": "circle-exclamation",
              "label": "Circle-exclamation"
            },
            {
              "group": "Communication",
              "value": "circle-question",
              "label": "Circle-question"
            },
            {
              "group": "Communication",
              "value": "circle-info",
              "label": "Circle-info"
            },
            {
              "group": "Communication",
              "value": "message-chat",
              "label": "Message-chat"
            },
            {
              "group": "Communication",
              "value": "message-heart",
              "label": "Message-heart"
            },
            {
              "group": "Communication",
              "value": "message-lines",
              "label": "Message-lines"
            },
            {
              "group": "Communication",
              "value": "message-info",
              "label": "Message-info"
            },
            {
              "group": "Communication",
              "value": "message-exclamation",
              "label": "Message-exclamation"
            },
            {
              "group": "Arrows",
              "value": "rotate",
              "label": "Rotate"
            },
            {
              "group": "Arrows",
              "value": "infinity",
              "label": "Infinity"
            },
            {
              "group": "Arrows",
              "value": "loop",
              "label": "Loop"
            },
            {
              "group": "Arrows",
              "value": "refresh",
              "label": "Refresh"
            },
            {
              "group": "Arrows",
              "value": "repeat",
              "label": "Repeat"
            },
            {
              "group": "Arrows",
              "value": "shuffle",
              "label": "Shuffle"
            },
            {
              "group": "Devices",
              "value": "camera",
              "label": "Camera"
            },
            {
              "group": "Devices",
              "value": "headphones",
              "label": "Headphones"
            },
            {
              "group": "Devices",
              "value": "keyboard",
              "label": "Keyboard"
            },
            {
              "group": "Devices",
              "value": "microphone",
              "label": "Microphone"
            },
            {
              "group": "Devices",
              "value": "laptop",
              "label": "Laptop"
            },
            {
              "group": "Devices",
              "value": "mobile",
              "label": "Mobile"
            },
            {
              "group": "Devices",
              "value": "tablet",
              "label": "Tablet"
            },
            {
              "group": "Devices",
              "value": "tv",
              "label": "Tv"
            },
            {
              "group": "Devices",
              "value": "watch",
              "label": "Watch"
            },
            {
              "group": "Automotive",
              "value": "truck",
              "label": "Truck"
            },
            {
              "group": "Automotive",
              "value": "car",
              "label": "Car"
            },
            {
              "group": "Automotive",
              "value": "motorcycle",
              "label": "Motorcycle"
            },
            {
              "group": "Automotive",
              "value": "rocket",
              "label": "Rocket"
            },
            {
              "group": "Automotive",
              "value": "engine",
              "label": "Engine"
            },
            {
              "group": "Automotive",
              "value": "gauge",
              "label": "Gauge"
            },
            {
              "group": "Buildings",
              "value": "house",
              "label": "House"
            },
            {
              "group": "Buildings",
              "value": "hotel",
              "label": "Hotel"
            },
            {
              "group": "Buildings",
              "value": "shop",
              "label": "Shop"
            },
            {
              "group": "Buildings",
              "value": "city",
              "label": "City"
            },
            {
              "group": "Weather",
              "value": "cloud",
              "label": "Cloud"
            },
            {
              "group": "Weather",
              "value": "cloud-rain",
              "label": "Cloud-rain"
            },
            {
              "group": "Weather",
              "value": "cloud-sun",
              "label": "Cloud-sun"
            },
            {
              "group": "Weather",
              "value": "cloud-thunder",
              "label": "Cloud-thunder"
            },
            {
              "group": "Weather",
              "value": "umbrella",
              "label": "Umbrella"
            },
            {
              "group": "Weather",
              "value": "water",
              "label": "Water"
            },
            {
              "group": "Weather",
              "value": "snow",
              "label": "Snow"
            },
            {
              "group": "Weather",
              "value": "droplet",
              "label": "Droplet"
            },
            {
              "group": "Halloween",
              "value": "bat",
              "label": "Bat"
            },
            {
              "group": "Halloween",
              "value": "ghost",
              "label": "Ghost"
            },
            {
              "group": "Halloween",
              "value": "spider",
              "label": "Spider"
            },
            {
              "group": "Halloween",
              "value": "bones",
              "label": "Bones"
            },
            {
              "group": "Halloween",
              "value": "jack-o-lantern",
              "label": "Jack-o-lantern"
            },
            {
              "group": "Holidays",
              "value": "tree-decorated",
              "label": "Tree-decorated"
            },
            {
              "group": "Holidays",
              "value": "cookie-man",
              "label": "Cookie-man"
            },
            {
              "group": "Holidays",
              "value": "snowman",
              "label": "Snowman"
            },
            {
              "group": "Holidays",
              "value": "stocking",
              "label": "Stocking"
            },
            {
              "group": "Holidays",
              "value": "angel",
              "label": "Angel"
            },
            {
              "group": "Holidays",
              "value": "snowflake",
              "label": "Snowflake"
            }
          ],
          "default": "star"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": ".svg format recommended"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 24,
          "max": 120,
          "step": 12,
          "unit": "px",
          "label": "Icon size",
          "default": 24
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your store</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with icons",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Free shipping",
            "content": "<p>Free worldwide shipping and returns</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Trusted worldwide",
            "content": "<p>Over 100.000 happy customers</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Customer service",
            "content": "<p>We are available mon-fri to answer your questions.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Secure payment",
            "content": "<p>Your payment information is processed securely.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
